body{width:100%;}
#acceuil{
    background: url(../images/header-bg.jpg);
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
#acceuil nav{
    padding-top: 20px;
    padding-bottom: 20px;
}
nav img{
    width: 150px;
    font-size: 30px;
   margin-left: 40px;
}
nav ul li a{
    text-transform: uppercase;
    color: #fff !important;
    margin-right: 20px;
}
nav ul li a:hover{
    color:rgba(241, 184, 27, 0.959) !important;
}
#acceuil h1{
    font-family: cursive;
}
#acceuil h2{
    font-size: 80px;
    margin-top: 20px;
}
#acceuil .btn{
    font-size: 25px;
    background-color: rgb(232, 167, 26);
    color: #fff;
}
#acceuil .btn:hover{
    background-color: rgba(249, 201, 70, 0.959);
}
/* ====fin de la partie acceuil===== */

/* ==debut de la partie services ====*/
#services p{
    color: #6c757d;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;

}
#services i{
    background-color: rgb(255, 200, 0);
    color: #fff;
    font-size: 120px;
    width: 180px;
    height: 180px;
    padding-top: 30px  ;
    padding-right: 10px;
    border-radius: 100%;
   
   
    /* margin-bottom: 25px; */
}

/* ====fin de la partie services===== */


/* =======debut de la prtie portfoli==== */
#portfoli{
    padding-top: 80px;
    background-color: #f3f6f9;
}
#portfoli .card{
    border: 1px solid #f3f6f9;
    border-radius: 0%;
}
#portfoli p{
    color: #6c757d;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;


}
#portfoli img:hover{
    content: "";
    filter: contrast(0.5);
}

/* modal */
.modal .icon{
font-size: 80px;
  font-weight: 10px;
  }
  .modal h1{
    font-size: 70px;
  }
  .modal .hhh{
    width: 250px;
    height: 65px;
  
   margin-top: 20px;
   background-color: rgb(232, 167, 26);
   color: #fff;
  }
  .modal .hhh{
    background-color: rgb(249, 189, 59);
  }

/* ======fin de la partie portfoli======== */



/* ======debut de la pertie about ===== */

#about .pp2{
    color: #6c757d;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline li{
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
  }
   .timeline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 46.5%;
    width: 2px;
   
    margin-left: -1.5px;
    content: "";
  
    background-color:#e9ecef;
  }
  .timeline-image img{
    border: 5px solid #e9ecef;
    border-radius: 100%;
  
  }
  
  
   .timeline-image h4{
    background-color: rgb(232, 167, 26) ;
    width: 200px ;
    height: 200px;
    text-align: center;
    border: 5px solid #e9ecef;
    border-radius: 100%;
    padding-top: 35px;
    color: #fff;
   
  }
  @media only screen and (min-width: 1200px) and (max-width: 1250px) {
   
    .timeline::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 46.5%;
      width: 2px;
      height: auto;
      margin-left: -1.5px;
      content: "";
    
      background-color:#e9ecef;
    }
    
    
  }
  @media only screen and (max-width: 1199.9px) {
   
    .timeline::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 48%;
      width: 2px;
      height: auto;
      margin-left: -1.5px;
      content: "";
    
      background-color:#e9ecef;
    }
  }
  @media only screen and (max-width: 990px) {
   
    .timeline::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 2px;
      height: auto;
      margin-left: -1.5px;
      content: "";
    
      background-color:#e9ecef;
    }
  }
  @media only screen and (max-width: 767.9px) {
    .timeline li{
      padding-left: 0%;
      padding-right: 0%;
    }
   
    .timeline::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 9.5%;
      width: 2px;
      height: auto;
      margin-left: -1.5px;
      content: "";
    
      background-color:#e9ecef;
    }
    .timeline-image {
      position: absolute;
      left: 0%;
      width: 130px;
      height: 130px;
    }
    
    .timeline li{
      display: flex !important;
      flex-wrap: wrap !important;
    }
    .timeline-panel{
      position: relative;
      left: 130px;
      width: 200px;
      }
    .timeline-panel h4{
      font-size: 20px;
    }
    .timeline-panel p{
      font-size: 10px;
    }
    li .imge1{
      position: absolute;
      bottom: 140px;
    }
  
    li .imge2{
      position: absolute;
      top: 50px;
    }
  
    li .imge3{
      position: absolute;
      bottom: 130px;
    }
    
    li .panel4{
      position: absolute;
      /* bottom: 50px; */
    }
  
    .timeline-image h4{
      width: 100px;
      height: 100px;
      font-size: 20px;
      position: absolute;
      top: 150px;
      /* padding-bottom: 10%; */
    }
    .timeline{
      padding-bottom: 200px;
      clear: both;
    }
  }
  
  
  
/* ==========fin de la partie abput ====== */



/* ======debut de la partie team ====== */
#team{
    background-color: #f3f6f9;
}
#team img{
    border: 5px solid #ced1d3;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
#team p {
    color: #6c757d;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;


}

#team i{
    color: #fff;
    background-color: #313232;
   font-size: 20px;
   padding-top: 10px;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   margin-left: 10px;
}
/* =======fin de la partie team======== */

/* ========debut sociaux======= */
.sociaux img{
    height: 50px;
    
}

/* =======fin sociaux */
/* =======debut formulaire ======= */
#contacts .formulaire{
    background: url(../images/dark-psd-world-map-56579.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.formulaire p{
    color: #6c757d;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;


}
.formulaire .parti1 input{
    margin-bottom: 20px;
    height: 70px;
   font-weight: bolder;
}
.formulaire .parti2 textarea{
    width: 100%;
    height: 250px;
   font-weight: bolder;
}

.formulaire button {
    text-align: center !important;
   width: 250px;
    height: 65px;
   font-weight: bolder;
   margin-top: 20px;
   background-color: rgb(232, 167, 26);
   color: #fff;
   border: 0px;
   border-radius: 5px;
   text-transform: uppercase;
}
.formulaire button:hover{
    background-color: rgb(249, 189, 59);
}

/* ========fin formulaire======= */

/*========== debut de footer ====== */
.footer i{
    color: #fff;
    background-color: #313232;
   font-size: 20px;
   padding-top: 10px;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   margin-left: 10px;
}

/* ========fin de footer========= */





